html {
  font-size: 14px;
}
body {
  height: 100vh;
  width: 100vw;
}

.titleContainer {
  z-index: 110;

  position: absolute;
  display: inline-block;

  white-space: nowrap;
  overflow: hidden;

  width: 100%;
  text-align: center;

  padding: 10px;

  color: #fff;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .titleContainer {
    display: block;
  }
}

.titleText {
  font-size: max(32px, 2vw);
  font-weight: bold;
  margin: 2px;
  font-family: Comfortaa;
}

.subtitleText {
  font-size: max(24px, 1.5vw);
  margin: 2px;
  font-family: Comfortaa;
}

button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: block;
}

.formSelect {
  display: inline;
  width: 207px;
  height: 37px;
  border-radius: 5px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.sidebar.left {
  position: fixed;
  display: inline-block;
  top: 45%;
  left: 3.5%;
  bottom: 0;
  width: 200px;
  height: 200px;
  background: transparent;
  text-align: center;
}

.leftToolbar {
  position: fixed;
  display: flex;
  width: 3.45rem;
  height: 61%;
  left: 0.5rem;
  top: 15%;
  background: rgb(110, 110, 110);

  opacity: 0.7;
  border-radius: 24px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.bottomToolbar {
  overflow: hidden;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 0%;
  left: 0px;

  background: rgba(110, 110, 110, 0.3);
}

.toolbarButton {
  position: relative;
  display: flex;
  width: 35.39px;
  height: 35.39px;
  left: -2.5rem;
  background: transparent;
  margin-top: 10px;
  border: none;
}
.toolbarIcon {
  width: 23px;
  height: 23px;
}

.hr {
  position: absolute;
  display: flex;
  width: 39.39px;
  height: 0px;
  left: 3px;
  background: #e0c081;
  border: 1px solid #e0c081;
  margin-top: 0px;
}

.toolbarHelp {
  position: absolute;
  display: flex;
  width: 23px;
  height: 23px;
  left: 0.4rem;
  top: 90%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: transparent;
  border: none;
}

.helpDivider {
  position: absolute;
  width: 39.39px;
  height: 0px;
  left: 6%;
  top: 86%;
  border: 1px solid #e0c081;
  background: #e0c081;
}

.topToolbar {
  position: fixed;
  background-color: transparent;
  display: inline-block;
  width: 100%;
}
.login {
  position: relative;
  display: flex;
  background-color: transparent;
  border: none;
  font-family: Inter;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-left: 80%;
  margin-top: 4%;
}
.login:hover {
  color: rgba(224, 192, 129, 1);
}
.loginText {
  position: relative;
  display: flex;
  left: 60%;
  top: -20%;
}

.loginIcon {
  position: fixed;
  display: flex;
  width: 23px;
  height: 23px;
  margin-right: 5%;
}

.codexLogo {
  position: relative;
  width: 90px;
  height: 90px;
  left: 22px;
  top: 10px;
}

.horDivider {
  display: block;
  left: 0%;
  width: 30%;
  top: 2%;
  height: 0%;
  background: #e0c081;
  border: 1px solid #e0c081;
  position: relative;
}

.filterAnnotation {
  position: absolute;
  display: flex;
  width: 75%;
  height: 34px;
  top: 13%;
  left: 23%;
  opacity: 0.7;
  border-radius: 24px;
  white-space: nowrap;
  overflow: hidden;
}
.selectContainer {
  position: fixed;
  display: flex;
  width: 18.7%;
  height: 46px;
  top: 6%;
  left: 5%;
  background: rgb(110, 110, 110);
  opacity: 1;
  border-radius: 24px;
  z-index: 0;
}
option {
  background: #c7c7c7;
  width: 100%;
  font-size: 12px;
  align-items: center;
}

.filterOption {
  position: fixed;
  width: 100%;
  display: flex;
  height: 31px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  justify-content: center;
  color: #422c20;
  text-align-last: left;
  border-radius: 24px;
  border: none;
}

.selectHr {
  height: 0px;
  color: #2f4689;
  border: 1px solid #2f4689;
  background: #c7c7c7;
}

.filterText {
  position: relative;
  width: 36px;
  height: 16px;
  left: 8.5%;
  top: 3%;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  z-index: 100;
}

.previewContainer {
  margin-left: 69px;
}

.posePreview {
  position: relative;
  width: 108px;
  height: 81px;
  margin-left: 48px;
  top: 10px;
  display: inline-block;
  background: #e7f0f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 101;
}
.viewControlContainer {
  position: relative;
  margin-right: 10px;
  top:-5vh;
  
}

.viewControl {
  position: absolute;
  background: transparent;
  top: 68vh;
  left: 17vw;
  margin-right: 10vw;
}
#slider {
  position: absolute;
  display: flex;
  top: 84vh;
  left: 24vw;
  width: auto;
  height: 0.4em;
  background: linear-gradient(
    to right,
    rgba(198, 150, 59, 1) 0%,
    rgba(198, 150, 59, 1) 50%,
    transparent 50%,
    transparent 100%
  );
  border: 0.5px solid #d9d9d9cc;
  transition: background 450ms ease-in;
}

.xAxis {
  position: absolute;
  display: flex;
  width: 40vw;
  height: 0px;
  left: 18vw;
  top: 80vh;
  background: #e0c081;
  border: 1px solid #e0c081;
}

.yAxis {
  position: absolute;
  width: 0px;
  height: 62vh;
  left: 19vw;
  background-color: #e0c081;
  top: 24vh;
  margin-left: 2.5vh;
  border: 1px solid #e0c081;
}

.layerSelector {
  position: absolute;
  display: block;
  left:-5px;
}

.layer {
  height: 23.1px;
  width: 34.14px;
}
.layerButton {
  background-color: transparent;
  display: flex;
  border: none;
  width: 34.14px;
  height: 23.1px;
  margin-top: -7px;
}
.pause {
  background-color: transparent;
  border: none;
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  top: 10px;
}
.play {
  background-color: transparent;
  border: none;
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  top: -8px;
  left: 18px;
}
.imgPause {
  width: 18px;
  height: 18px;
}
.imgPlay {
  width: 18px;
  height: 18px;
}

.collapsible {
  position: absolute;
  display: flex;
  width: 47px;
  height: 47px;
  left: 8.5%;
  top: 96%;
  background: rgba(217, 217, 217, 0.6);
  border-radius: 6px;
  border: none;
  z-index: 100;
  margin-left:2%;
}

#idArrow {
  display: flex;
  position: relative;
  top: 1em;
  left: 0.6em;
}

@media screen and (max-width: 600px) {
  .leftToolbar {
    left: 80%;
  }
  .yAxis {
    display: none;
  }
  .xAxis {
    display: none;
    width: 0px;
  }

  .viewControl {
    left: 0%;
    top: 75vh;
   
  }
  #slider {
    position: fixed;
    top: 75%;
    left: 15%;
  }

  .selectContainer {
    width: 80%;
    top: 10%;
  }
  .titleText {
    font-size: max(24px, 2vw);
    font-weight: bold;
  }
  .login {
    display: none;
  }
  .subtitleText {
    font-size: max(18px, 1.5vw);
  }
  .horDivider {
    display: none;
  }
}
