html {
  font-size: 14px;
}
body {
  height: 100vh;
  width: 100vw;
}

.titleContainer {
  z-index: 110;
  
  position: absolute;
  display: inline-block;
  
  white-space: nowrap;
  overflow: hidden;

  width: 100%;
  text-align: center;
  
  padding: 10px;
  
  color: #fff;
  
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  pointer-events: none;
}

/* Info Panel */
.atonSidePanelContainer {
  background-color: rgba(255,255,255, 0.5) !important;
  color: black;

  padding: 30px !important;
}

.descriptionText {
  text-shadow: none !important;
}

.appPanelHeader {
  color: white;
  /*background-color: white;*/

  display: block;
  font-size: 22px;

  border-bottom: white 1px solid;

  padding: 0px;
  padding-bottom: 10px;
  /*border-radius: 10px;*/
  
  margin: 0px;
  margin-bottom: 10px;
}

.appPanelLayer {
  display: block;

  font-size: xx-large;

  margin-top: 5px;
  margin-bottom: 5px;

  text-align: left;

  color: white;
  text-shadow: 0px 0px 4px #2f4689;
}

.appPanelSub {
  display: block;

  font-size: large;
  font-weight: bold;

  margin-top: 5px;
  margin-bottom: 5px;

  color: #2f4689;
}

.appPanelBTN {
  display: inline-block;

  cursor: pointer;

  margin: 0px;
  padding: 0px;

  line-height: 22px;
  vertical-align: middle;

  text-decoration: none;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.appPanelBTN img {
  width: 25px;
  height: 25px;
}

.goToTheWebSite {
  width: 28px;
  height: 28px;
  display: inline-block;
  position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 30%;
  margin-left: 60px;
  background-color: transparent;
  top: 10px;
 
}
.goToIMG {
  width: 28px;
  height: 28px;
}
@media screen and ( max-width: 770px){
  .goToTheWebSite {
    right: 23%;
  }
}
@media screen and (max-width: 600px) {
  .titleContainer {
    display: block;
  }
  .goToTheWebSite {
    display: none;
  }
}

.titleText {
  font-size: max(32px, 2vw);
  font-weight: bold;
  margin: 2px;
  font-family: Comfortaa;
}

.subtitleText {
  font-size: max(24px, 1.5vw);
  margin: 2px;
  font-family: Comfortaa;
}

button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: block;
}

.formSelect {
  display: inline;
  width: 207px;
  height: 37px;
  border-radius: 5px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.sidebar.left {
  position: fixed;
  display: inline-block;
 
  top: 338px;
  left: 60px;
  bottom: 0;
  width: 50px;
  height: 100px;
  background: transparent;
  text-align: center;
}

.divHR {
  position: absolute;
  width: 40px;
  left:5px;
  color: rgba(224, 192, 129, 1);
  border: 1px solid rgba(224, 192, 129, 1);
  background-color: rgba(224, 192, 129, 1);
}

.leftToolbar {
  position: absolute;
  display: flex;
  width: 3.45rem;
  height:450px;
  left: 1%;
  top: 15%;
  background: rgb(110, 110, 110);

  opacity: 0.7;
  border-radius: 24px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.bottomToolbar {
  overflow: hidden;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 0%;
  left: 0px;

  background: rgba(110, 110, 110, 0.3);
}

.toolbarButton {
  position: relative;
  display: flex;
  width: 35.39px;
  height: 35.39px;
  left: -2.5rem;
  background: transparent;
  margin-top: 10px;
  border: none;
}
.toolbarIcon {
  width: 23px;
  height: 23px;
}

.hr {
  position: absolute;
  display: flex;
  width: 39.39px;
  height: 0px;
  left: 3px;
  background: #e0c081;
  border: 1px solid #e0c081;
  margin-top: 0px;
}

.toolbarHelp {
  position: absolute;
  display: flex;
  width: 23px;
  height: 23px;
  left: 0.4rem;
  top: 90%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: transparent;
  border: none;
}

.helpDivider {
  position: absolute;
  width: 39.39px;
  height: 0px;
  left: 6%;
  top: 86%;
  border: 1px solid #e0c081;
  background: #e0c081;
}

.topToolbar {
  position: absolute;
  background-color: transparent;
  display: inline-block;
  width: 100%;
}
.login {
  position: absolute;
  display: flex;
  background-color: transparent;
  border: none;
  font-family: Inter;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  top: 20px;
  right: 60px;
}
.login:hover {
  color: rgba(224, 192, 129, 1);
}
.loginText {
  position: relative;
  display: flex;
  left: 60%;
  top: -20%;
}

.loginIcon {
  position: fixed;
  display: flex;
  width: 23px;
  height: 23px;
  margin-right: 5%;
}

.codexLogo {
  position: relative;
  width: 90px;
  height: 90px;
  left: 22px;
  top: 10px;
}

.horDivider {
  display: block;
  left: 0%;
  width: 30%;
  top: 2%;
  height: 0%;
  background: #e0c081;
  border: 1px solid #e0c081;
  position: relative;
}

.filterContainer{
  position: relative;
  display: flex;
  top:100px;
  width: 100%;
  left:250px;
}

.selectContainer {
  position: absolute;
  display: flex;
  width: 300px;
  height: 46px;
  top: 15%;
  background: rgb(110, 110, 110);
  opacity: 1;
  border-radius: 24px;
  z-index: 101;
  left: -70px
}
.selectButton {
  border: none;
  width:100%;
  background-color: transparent;
  height:20px;
  
}
div#nav {
  background: rgb(110, 110, 110);
  opacity: 1;

  z-index: 0;
}
div#nav a {
  padding: 5px 15px 5px;
}
.dropdown-toggle {
  position: absolute;
  text-decoration: none;
  display: flex;
  width: 70%;
  height: 34px;
  top: 10.7%;
  left: 28%;
  background: #c7c7c7;
  border-radius: 24px;
  color: #422c20;
  border: none;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

display: flex;
align-items: center;
}
/**** ****/
ul.dropdown {
  display: none;
  position: relative;
  top: 95%;
  height: 270px;
  margin-top: 5px;
  width: 265px;
  left:-15%;
  background: #c7c7c7;
  border-radius: 24px;
}
ul.dropdown li {
  position: relative;
  list-style-type: none;
  text-decoration: none;
  margin-top: 10px;
  background-color: transparent;
  left:0%;
  width:260px;
  align-content: left;
  margin-top: 13px;
}
ul.dropdown li button {
  background-color: transparent;
  text-decoration: none;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #422c20;
  
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
border: none;
}

.arrow{
  width: 14px;
  height: 7px;
  display:inline-block;
  position:absolute;
  left: 88%;
  top: 35%;
}

.dot {
  width: 13px;
  height: 13px;
  background-color: #BF2517B2;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 80%;
  top:5px;
}
.dot2 {
  width: 13px;
  height: 13px;
  background-color: #FF7F11;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 80%;
  top:2.5px;
  
}
.dot3 {
  width: 13px;
  height: 13px;
  background-color: #422C20;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 80%;
  top:2.5px;
}
.dot4 {
  width: 13px;
  height: 13px;
  background-color: #2F4689;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 80%;
  top:5px;
}
.dot5 {
  width: 13px;
  height: 13px;
  background-color: #D9A441;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 80%;
  top:5px;
}
.dot6 {
  width: 13px;
  height: 13px;
  background-color: #E7F0F9;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 80%;
  top:5px;
}
.dot7 {
  width: 13px;
  height: 13px;
  background-color: #79b857;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 80%;
  top:5px;
}
@media screen and (max-width: 600px) {

  .filterContainer{
    width:400px;
    left: 25%;
  }
  .dropdown-toggle{
    left: 28%;
  }
 .selectContainer{
  width:50%
 }
}
@media screen and (max-width: 800px) {
  ul.dropdown{
    left:0%;
  }
  
}
  

.selectHr {
  height: 0px;
  color: #2f4689;
  border: 1px solid #2f4689;
  background: #2f4689;
  position: relative;
  left:-20px;
  width:100%
}

.filterText {
  position: relative;
  width: 36px;
  height: 16px;
  left: 8.5%;
  top: 3%;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  z-index: 100;
}

.previewContainer {
  margin-left: 69px;
}

.posePreview {
  position: relative;
  width: 108px;
  height: 81px;
  margin-left: 48px;
  top: 10px;
  display: inline-block;
  background: #e7f0f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 101;
}

.posesContainer {
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.poseIMG {
  position: relative;
  display: inline-block;

  height: 80px;
  width: 80px;

  border-radius: 10px;
  
  margin: 2px;
}

.viewControlContainer {
  position: absolute;
  display: flex;
  top: 20%;
  background-color: transparent;
  width: 438px;
  height: 438px;
  left: 100px;
  z-index: 100;
  filter:Alpha(opacity=0);
  
}
@media screen and (max-width: 600px){
  .viewControlContainer {
    width: 300px;
    left: 0%
  }
  #idSliderLens {
    top: 60%;
    left: 0px
  }
}


.viewControl {
  position: relative;
  top: 55%;
  left:60px;
}

#idSliderLens {
  position: relative;
  display: flex;
  top: 90%;
  left: 150px;
  width: auto;
  height: 0.4em;
  background: linear-gradient(
    to right,
    rgba(198, 150, 59, 1) 0%,
    rgba(198, 150, 59, 1) 50%,
    transparent 50%,
    transparent 100%
  );
  border: 0.5px solid #d9d9d9cc;
  transition: background 450ms ease-in;
}

.xAxis {
  position:absolute;
  width: 438px;
  height: 0px;
  left: 0%;
  top: 80%;
  background: #e0c081;
  border: 1px solid #e0c081;
}

.yAxis {
  position:absolute;
  width: 0px;
  height:438px;
  left: 20%;
  background-color: #e0c081;
  top: 0px;
  margin-left: 1vw;
  border: 1px solid #e0c081;
}
@media screen and (min-width: 2560px){
  .viewControlContainer{
    width: 638px;
    height: 638px ;
    left: 200px;
    top: 40%
  }
  .xAxis {
    width: 638px;
  }
  .yAxis {
    height: 638px;
  }
  .viewControl {
    left: 90px;
    top: 65%;
  }
  #idSliderLens {
    left: 190px;
  }
}

.layerSelector {
  position: absolute;
  display: block;
  left: -5px;
}

.layer {
  height: 23.1px;
  width: 34.14px;
}
.layerButton {
  background-color: transparent;
  display: flex;
  border: none;
  width: 34.14px;
  height: 23.1px;
  margin-top: -7px;
}
.pause {
  background-color: transparent;
  border: none;
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  top: 10px;
}
.play {
  background-color: transparent;
  border: none;
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  top: -8px;
  left: 18px;
}
.imgPause {
  width: 18px;
  height: 18px;
}
.imgPlay {
  width: 18px;
  height: 18px;
}


.collapsible {
  position: absolute;
  display: flex;
  width: 47px;
  height: 47px;
  background: rgba(217, 217, 217, 0.6);
  border-radius: 6px;
  border: none;
  z-index: 100;
  margin-left: 30px;
  left: 80px;
  bottom: 0px
}

#idArrow {
  display: flex;
  position: relative;
  top: 1em;
  left: 0.6em;
}

@media screen and (max-width: 600px) {
  .leftToolbar {
    left: 80%;
  }
  .yAxis {
    display: none;
  }
  .xAxis {
    display: none;
    width: 0px;
  }

  .viewControl {
    left: 25px;
    top: 65vh;
  }
 
  #idSliderLens {
    left:100px;
  }
  .titleText {
    font-size: max(24px, 2vw);
    font-weight: bold;
  }
  .login {
    display: none;
  }
  .subtitleText {
    font-size: max(18px, 1.5vw);
  }
  .horDivider {
    display: none;
  }
}

.annotationForm {
  position: absolute;
  width: 65%;
  height: 85%;
  left: 20%;
  top: 100px;
  background: #d9d9d9;

  opacity: 0.8;
  border-radius: 10px;
  z-index: 100;
}

.formTitleContainer {
  position: relative;
  width: 90%;
  left: 5%;
}

.formTitle {
  position: relative;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.25px;

  color: #2f4689;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.titleInput {
  box-sizing: border-box;
  z-index: 151;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 20px;
  gap: 10px;
  z-index: 150;
  width: 100%;
  height: 48px;

  background: rgba(242, 242, 242, 0.6);
  border: 1px solid #bdbdbd;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.categoryContainer {
  position: absolute;
  display: inline;
  width: 90%;
  left: 5%;
  z-index: 150;
  top:80px;
}

.categorySelect {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 40%;
  height: 34px;
  background: rgba(242, 242, 242, 0.6);
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #422c20;
  flex: none;
  order: 0;
  flex-grow: 1;
  text-indent: 3%;
}

.catOption {
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #422c20;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.subCategorySelect {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 40%;
  height: 34px;
  background: rgba(242, 242, 242, 0.6);
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #422c20;
  flex: none;
  order: 0;
  flex-grow: 1;
  text-indent: 3%;
}

.subCatSelectContainer {
  position: absolute;
  display: inline;
  width: 90%;
  left: 55%;
  z-index: 150;
  top:80px;
}

.descriptionContainer {
  position: absolute;
  width: 90%;
  left: 5%;
  top:160px
}

.descriptionInput {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 20px;
  gap: 10px;
  width: 100%;
  height: 174px;
  background: rgba(242, 242, 242, 0.6);
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.fileContainer {
  position: absolute;
  display: inline;
  width: 100%;
  left: 5%;
  z-index: 150;
  top: 320px;
}

.uploadIcon {
  width: 40px;
  height: 40px;
  position: relative;
  top: 2vh;
  left: 10%;
}

.uploadLink {
  box-sizing: border-box;
  display: inline;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 20px;
  gap: 10px;
  isolation: isolate;
  width: 25%;
  height: 48px;
  background: rgba(242, 242, 242, 0.6);
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
  top: 30%;
}

.authorContainer {
  position: absolute;
  display: inline;
  left: 60%;
  width: 40%;
  top:315px;
}

.authorInput {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 20px;
  position: absolute;
  top: 75%;
  gap: 10px;
  width: 80%;
  height: 48px;
  background: rgba(242, 242, 242, 0.6);
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.cancelButton {
  display: flex;
  flex-direction: row;
  padding: 8px 32px;
  position: relative;
  width: 15%;
  height: 35px;
  left: 61%;
  top: 400px;
  background: rgba(242, 242, 242, 0.6);
  border: 1.5px solid #666666;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #666666;
}
.cancelButton:hover {
  background: rgba(47, 70, 137, 0.15);
  color: #2f4689;
  border: 1.5px solid #2f4689;
}

.okButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 8px 32px;
  gap: 10px;
  position: relative;
  width: 15%;
  height: 35px;
  left: 78%;
  top: 365px;
  background: rgba(242, 242, 242, 0.6);
  border: 1.5px solid #666666;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  justify-content: center;
  color: #666666;
}

.okButton:hover {
  background: rgba(47, 70, 137, 0.15);
  color: #2f4689;
  border: 1.5px solid #2f4689;
}
