body {
  min-height: 100vh;
  min-width: 100%;
}

.titleContainer {
  z-index: 110;

  position: fixed;
  display: inline-block;

  white-space: nowrap;
  overflow: hidden;

  width: 100%;
  text-align: center;

  padding: 10px;

  color: #fff;
  text-shadow: 0px 0px 10px black;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .titleContainer {
    display: none;
  }
}

.titleText {
  font-size: max(12px, 2vw);
  font-weight: bold;
  margin: 2px;
  font-family: Comfortaa;
}

.subtitleText {
  font-size: max(10px, 1.5vw);
  margin: 2px;
  font-family: Comfortaa;
  text-shadow: 0px 0px 4px #bf7b37;
}

button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: block;
}

.formSelect {
  display: inline;
  width: 207px;
  height: 37px;
  border-radius: 5px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.sidebar.left {
  position: fixed;
  top: 300px;
  left: 120px;
  bottom: 0;
  width: 200px;
  height: 200px;
  background: rgb(68, 68, 68, 0.9);
  color: white;
  box-shadow: 0 0 5px black;
  text-align: center;
}

.leftToolbar {
  position: fixed;
  display: flex;
  width: 60px;
  height: 451px;
  left: 35px;
  top: 100px;
  background: rgb(110, 110, 110);

  opacity: 0.7;
  border-radius: 24px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.bottomToolbar {
  overflow: hidden;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 118px;
  left: 0px;

  background: rgba(217, 217, 217, 0.8);
}

.toolbarButton {
  position: relative;
  width: 43.39px;
  height: 43.39px;
  left: -32px;
  background: transparent;
  margin-top: 2px;
  border: none;
}
.toolbarIcon {
  width: 23px;
  height: 23px;
}

.hr {
  position: fixed;
  width: 43.39px;
  height: 0px;
  left: 42px;
  background: #e0c081;
  border: 1px solid #e0c081;
  margin-top: 0px;
}

.toolbarHelp {
  position: relative;
  width: 23px;
  height: 23px;
  left: -28px;
  top: 175px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: transparent;
  border: none;
}

.helpDivider {
  position: fixed;
  width: 43.39px;
  height: 0px;
  left: 43px;
  top: 500px;

  border: 1px solid #e0c081;
}

.topToolbar {
  position: fixed;
  background-color: transparent;
  display: inline-block;
  width: 100%;
}
.login {
  position: absolute;
  display: flex;
  background-color: transparent;
  border: none;
  font-family: Inter;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-left: 92%;
  margin-top: 4%;
}
.login:hover {
  color: rgba(224, 192, 129, 1);
}
.loginText {
  position: relative;
  display: flex;
  left: 30px;
  top: -12px;
}

.loginIcon {
  position: fixed;
  display: flex;
  width: 23px;
  height: 23px;
  margin-right: 10%;
}

.codexLogo {
  position: relative;
  width: 90px;
  height: 90px;
  left: 22px;
  top: 15px;
}

.downArrow {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.horDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 34%;
  width: max(561px, 20vw);
  top: -30px;
  background: #e0c081;
  border: 1px solid #e0c081;
  padding: 1px;
}

.filterAnnotation {
  position: relative;
  width: 213px;
  height: 34px;
  top: -38px;
  left: 67px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.7;
  border-radius: 24px;
}
.selectContainer {
  position: absolute;
  width: 287px;
  height: 46px;
  top: 70px;
  left: 8%;
  background: rgb(110, 110, 110);
  mix-blend-mode: difference;
  opacity: 0.7;
  border-radius: 24px;
}

.filterOption {
  height: 31px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  color: #422c20;
  background-color: rgba(255, 255, 255, 1);
}

.selectHr {
  width: 179px;
  height: 0px;
  color: #2f4689;
  border: 1px solid #2f4689;
}
.filterText {
position: relative;
width: 36px;
height: 16px;
left: 8.5%;
top: 3%;

font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}

.previewContainer {
  margin-left: 69px;
  
}

.posePreview {
  position: relative;
width: 108px;
height: 81px;
margin-left: 48px;
top: 18px;
display: inline-block;
background: #E7F0F9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
z-index: 101;
}

